.IndexPage {
  &__list {
    list-style: none;
    margin-left: 0;
  }

  &__mentorship-future,
  &__mentorship-past {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      margin-right: 0.5rem;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
    }
  }

  &__mentorship-future::before {
    background-image: url('http://res.cloudinary.com/rachelhathaway/image/upload/c_scale,h_50,w_50/v1529557228/favicon_uktibb.png');
  }

  &__mentorship-past::before {
    background-image: url('http://res.cloudinary.com/rachelhathaway/image/upload/c_scale,h_50,w_50/v1529557228/favicon_1_k91gmz.png');
  }

  &__mentorship-list {
    @media only screen and (min-width: 768px) {
      display: flex;
      grid-template-columns: 45% auto;
    }
  }

  &__mentorship-item {
    margin-bottom: 1rem;
    @media only screen and (min-width: 768px) {
      display: flex;
      margin-right: 3rem;
    }
  }

  &__education-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    @media only screen and (min-width: 768px) {
      grid-template-columns: 50% 50%;
    }
  }

  &__school-full {
    display: none;
    @media only screen and (min-width: 768px) {
      display: block;
      text-align: right;
    }
  }

  &__school-abbr {
    text-align: right;
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
}
