---
const { organization, term, title } = Astro.props;
---

<article>
  <header>
    <h3>
      <strong>{title}</strong>
    </h3>
    <div>
      <a class="text-fuchsia-700" href={organization.link} target="_blank"
        >{organization.name}</a
      >
    </div>
    <div>{term}</div>
  </header>
  <slot />
</article>
